* {
	padding: 2px;
	border: dotted green 2px;
}

#top-nav {

	font-size: 10px;
    	font-family: Arial,Helvetica,sans-serif;
	height: 80px;
	background: #FAFBFF;

}



#body {
	background: #F1F1F1;

}

#centerpic {
	position: aboslute;
	z-index: 10;

	height: 50%;
	width: 100%;
}


#selfpic {

left: 550px;
top: -300px;
	position: relative;
	z-index: 1;
	background: grey;
	height: 400px;
	width: 400px;
}

#selfinfo{
	left: 950px;
	top: -700px;
	position: relative;
	z-index: 5;
	background: lightblue;
	height: 400px;
	width: 400px;
}




.center {

	z-index: 0;


}
