#top-nav {

	font-size: 10px;
    	font-family: Arial,Helvetica,sans-serif;
	height: 80px;
	background: #FAFBFF;

}



#body {
	background: #F1F1F1;

}

#centerpic {
	align: center;
	height: 50%;
	width: 100%;
}


#selfpic {
	
	float:right
	padding-right:300px; 
	width: 470px; 
	position: absolute; 
	visibility: inherit; 
	top: 712px; 
	height: 470px;
	background: grey;
	height: 470px;
	width: 800px;
}

#selfinfo{
	float:left;
	
	left: 1200px; 
	width: 470px; 
	position: absolute; 
	visibility: inherit; 
	top: 712px; 
	height: 470px;
	background: lightblue;
	height: 470px;
	width: 800px;
}




.center {
	;
	z-index: 0;
    
   
}